@import "reset.css";

body{
    background-color: #f6f9fc;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.canvas{
    width: 700px;
    height: 700px;
    background-color: white;
    border-radius: 10px;
    /*box-shadow 에서의 ','의 의미 : 여러개의 쉐도잉을 할 때; */
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    margin-top: 30px;
}
.controls{ 
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.controls .controls__colors{
    display: flex;
    flex-direction: row;
}

.controls .controls__btns{
    margin-bottom: 30px;
}

.controls__btns button{
    all:unset;
    cursor: pointer;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 80px;
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    text-align: center;
    padding: 5px 0px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}

.controls__btns button:active{
    transform: scale(0.98);
}

.controls .controls__range{
    margin-bottom: 20px;
}

.controls__colors .controls__color{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}




